




# ◆ git comment ルール
#   - タイトルを50文字以内
#   - タイトルの下にチケット番号を書く
#   - その下に一行空けて本文を書く
#   - できればwhy?を書く

# ◆ commitの例文
#   - Add A to B (AをBに追加)
#
#   - Fix A in B (Bの箇所のAを修正)
#   - Fix for #000 (#000に対する修正)
#
#   - Remove A from B (AをBから除去)
#
#   - Change A to B (AをBに変更)
#
#   ◆ 前置詞
#   - with P (Pと一緒に、伴って)
#   - for P (Pのために)
#   - instead of P (Pの代わりに)
#
#   ◆ その他キーワード
#   - resurrect (蘇えらせる)
#   - kick out (好ましくないものを取り除く)
#   - R.I.P. (安らかに眠れ ～Removeでは語りきれない思いがあるとき～)
